body
{
margin: 0;
padding: 0;
margin-top: 0;
padding-top: 0;
min-height: 830px;
max-height: 1472px;
min-width: 1024px;
height: 100%;
background: #fff;
color: white;
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
-webkit-font-smoothing: antialiased;
}


nav{
    background:  -webkit-gradient(linear, 0 0, 0 100%, 
    from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), 
    color-stop(0.97, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, .45))), 
    -webkit-gradient(linear, 0 0, 100% 0, 
    from(rgba(0, 0, 0, .2)), 
    color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, .2))), 
    -webkit-gradient(linear, 0 100%, 0 0, 
    from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), 
    to(#808080));
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
    color: white;
    display: block;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    height: 36px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    table-layout: fixed;
    text-align: left;
    top: 18px;
    width: 980px;
    zoom: 1;
    z-index: 9998;
}


nav ul{
    display: table;
    float: left;
    list-style: none outside;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;

    margin-inline-start: 0px;
    margin-inline-end: 0px;

    padding-inline-start: 40px;
    padding: 0;
    position: relative;
    table-layout: fixed;
    text-align: left;
    width: 845px;
    z-index: 0;
    zoom: 1;
}

nav li{
    border-width: 0 1px 0 1px;
    border-style: solid;
    color: white;
    cursor: pointer;
    display: table-cell;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%;
}



p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;;
    }

.wrapper{
    margin: 0 auto;
    width: 980px;
    padding: 1em 0 2.6em;
}

.wrapper:after{
    content: '.';
    display:block;
    visibility: hidden;
    clear: both;
    height: 0;
    }

footer{
    bottom: 0;
    color: #6e6e6e;
    display: inline;
    font-size: .8334em;
    left: 0;
    line-height: 1.2;
    margin: 0;
    min-width: 980 px;
    padding: 0;
    position: absolute;
    right: 0;
    height: 90px;
    text-align: center;
    width: 100%;
    z-index: 1;
    }

footer ul {
    display: inline;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer .left{
    clear: both;
    float: left;
    padding-top: 1.5em;
    text-align: left;
    width: 49%;
    }
    

.piped li{
display: inline-block;
float: none;
margin-left: .6em;
padding-left: .6em;
border-left: 1px solid #ccc;
}

.billboard {
    bottom: 292px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    margin-left: 0;
    padding: 0;
    min-height: 583px;
    width: 1440px;
    background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg) 50% 100% no-repeat;
    background-size: 1440px 1315px;
}

aside{
position: absolute;
height: 200px;
overflow: hidden;
width: 100%;
bottom: 90px;
z-index: 1;
}

aside ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header h1{
font-size: 24px;
line-height: 36px;
font-weight: bold;
}

header h2{
font-size: 16px;
line-height: 18px;
font-weight: bold;
}

input[type="text"] {
background-color: #333;
border-width: 0 2px 0 1px;
width: 106px;
right: 0;
top: 0;
padding: 8px 13px;

}
